@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

body {
    /* background-color: #DBE2EF; */
    background-color:#112D4E ;
}

/* Header */

#siteTitle {
    color: #D65600;
    font-family: "Lobster", sans-serif;
    padding-bottom: 2rem;
    padding-top: rem;
    font-size: 5rem;
    /* text-shadow: 2px 2px 5px #FEA82F; */
    
}

.header-grid {
    /* display: flex; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #112D4E;
}

.title-grid {
    /* flex-grow: 1;
    align-self: center;
    text-align: center;
    flex-shrink: 0; */
    grid-column-start: 1;
    align-self: center;
    text-align: center;
}

.carousel-grid {
    /* flex-grow: 2;
    flex-shrink: 0; */
    grid-column-start: 2;
    grid-column-end: span col3-end;
}

.together {
    font-size: 8rem;
    color: #FF9603;
    text-shadow: 2px 2px 5px #D65600;
}

/* About Me Carousel */

.carousel-inner {
    width: 100%;
    max-width: 1400px;
    overflow: hidden;
}

.carousel-caption {
    background-color: #112d4ec9;
    box-shadow: 0 0 30px 30px #112d4ec9;
}


.carousel-caption h2 {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: bold;
    text-align: left;
    font-size: 3rem;
    color: #F9F7F7;
}

.carousel-caption p {
    font-family: "Roboto", sans-serif;
    text-align: left;
    font-size: 1rem;
    color: #DBE2EF;
}

.carousel-item {
    background-color: #112D4E;
    /* max-width: 800px; */
}

.carousel-item img {
    width: max-content;
    object-fit: cover;
    border: none;
}

/* Skill Cards */
.cardButton {
    background-color: #FEA82F;
    color: #112D4E;
    border-color: #FEA82F;
    font-family: "Lato", sans-serif;
    font-size: 1.1rem;
    font-weight: 900;
    font-style: bold; ;
}

.cardButton:hover {
    background-color: #FF6701;
    color: #292929;
    border-color: #FF6701;
}

.cardButton:active {
    background-color: #d88e26;
    color: #292929;
    border-color: #d88e26;
}

.exploreCard {
    /* background-color: #112D4E; */
    background-color: #D65600;
    color:#F9F7F7 ;
}

.card-body h3 {
    font-family: "Lato", sans-serif;
    font-weight: 800;
    font-style: bold;
    font-size: 1.5rem;
    color: #F9F7F7;
}

.card-body p {
    font-family: "Roboto", sans-serif;
    color: #DBE2EF;
}

.workSamples {
    padding-bottom: 2rem;
    padding-top: 1rem;
}

/* Work Experience Accordion */

#workExp {
    color: #DBE2EF;
}

.accordion-button h4 {
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: bold;
    font-size: 1rem;
    color: #F9F7F7;
}

.accordion-button {
    /* background-color: #112D4E; */
    background-color: #D65600;
}

.accordion-button::after {
    filter: invert(100%);
}

#accordion h3 {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: bold;
    text-align: left;
    font-size: 2rem;
    color: #F9F7F7;
    padding-left: 9rem;
}

.accordion-button:not(.collapsed) {
    color: var(--bs-accordion-active-color);
    background-color: #D65600;
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

.accordion-padding {
    padding-left: 9rem;
    padding-right: 9rem;
}

/* Modals */

.row-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.fullScreen {
    flex-grow: 1;
    border: none;
    margin: 0;
    padding: 0;
}

.centered-row-container {
    display: flex;
    justify-content: center;
}

.modal-description {
    font-family: "Roboto", sans-serif;
}

